<body class="body">
<button class="menu" mat-button [matMenuTriggerFor]="menu">What's For Dinner?</button>
<mat-menu #menu="matMenu">
</mat-menu>


<div class="whatsfordinner">
<h2>Search for a Local Restaurant in Just 3 Simple Steps!</h2>

<div>
    <h3>1. Select Your Price Range</h3>
    <form [formGroup]="budgetForm" (ngSubmit)="searchFood()">
      <select formControlName="price" class="budget">
        <option value="1">$</option>
        <option value="2">$$</option>
        <option value="3">$$$</option>
        <option value="4">$$$$</option>
      </select>
      <br />
      <h3>2. Search Your City</h3>
      <label></label>
      <input formControlName="city" placeholder="Enter Your City" class="city"/>
      <br />
      <h3>3. Search Your State</h3>
      <label></label>
      <input formControlName="state" placeholder="Enter Your State" class="state"/>
      <button mat-button color="primary" type="submit" class="button">LET'S EAT</button>
    </form>

  <div *ngIf="diner">
    <div>
      <h1>{{diner.name}}</h1>
      <div>
        <h3>Price Range: {{diner.price}}</h3>
        <h3>Phone Number: {{diner.phone}}</h3>
        <h3>Address: {{diner.location.address1}}<br />
          {{diner.location.city}} 
          {{diner.location.state}}
          {{diner.location.zip_code}}</h3>
          <h3>{{diner.hours}}</h3>
          <h3>{{diner.transactions}}</h3>
          <img src="{{diner.image_url}}"/>
      </div>
    </div>
  </div>
</div>
</div>
</body>
